<a href="https://colab.research.google.com/github/pariabdullayeva/PARIDATA/blob/main/Copy_of_Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("Your name is "+name+". Your age is "+age+"")

What is your name? Pari
What is your age? 20
Your name is Pari. Your age is 20

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if(a==b):
   print("These numbers are equal")
else:
   print("These numbers are not equal")

These numbers are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if(a>b):
  print("First number is greater than second number")
if(a==b):
  print("The first number is eqal to second number")
else:
  print("The first number is less than second number")

The first number is less than second number

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
for k in range(5,0,-1):
  print(k)

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10,-1,-2):
  if (k) !=8:
    print(k)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def age(birthyear):
    return(2022 - birthyear)
print(age(1944))

78

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
 def addition(x,y):
   print(x+y)
 def substraction(x,y):
   print(x-y)
 def multiplication(x,y):
   print(x*y) 
 def division(x,y):
   print(x/y)
arithmetic.addition(3,4)
arithmetic.substraction(3,4)
arithmetic.multiplication(3,4)
arithmetic.division(3,4)

7
-1
12
0.75

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n=int(input("the number is "))
sum= 0 
for k in range(1,n+1):
     sum = sum + k
print("sum of first", n ,"number is:", sum)

the number is 4
sum of first 4 number is: 10

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.
import random
list = [] 
for k in range(0,10):
  n = random.uniform(0,1)
  list.append(n)
list[:3]

[0.6601247932551592, 0.8247171719421093, 0.8280528467638083]

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
n=int(input("the number is"))
for k in range(1,n+1):
   if k%3==0:
     print(k)

the number is12
3
6
9
12